version: '3.8'

services:
  postgres-db:
    image: postgres:16
    container_name: splitwise_postgres
    restart: always
    environment:
      POSTGRES_DB: split_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: split-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.admin
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    restart: always
    depends_on:
      - postgres-db

volumes:
  postgres_data: # Definito qui per non perdere i dati quando spegni i container